*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f2f2f2;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{

    width:380px;
    background:white;

    padding:30px;

    border-radius:10px;

    box-shadow:0 0 10px rgba(0,0,0,.2);

}

h1{

    text-align:center;
    margin-bottom:25px;

}

input{

    width:100%;

    padding:12px;

    margin-bottom:18px;

    font-size:16px;

}

button{

    width:100%;

    padding:12px;

    background:#0d6efd;

    color:white;

    border:none;

    cursor:pointer;

    font-size:16px;

}

button:hover{

    background:#0957d4;

}

#message{

    margin-top:20px;

    text-align:center;

    font-weight:bold;

}


body{

    background:#eef2f7;
}

.card{

    border:none;
    border-radius:15px;
}

.card-header{

    border-radius:15px 15px 0 0 !important;
}

.list-group-item{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:10px;

    border-radius:8px;

}

.actionBtns button{

    margin-left:8px;
}


.premium-container{

display:flex;

justify-content:center;

margin:20px;

}

.premium-card{

width:350px;

padding:20px;

border-radius:15px;

box-shadow:0 0 10px rgba(0,0,0,.2);

background:white;

text-align:center;

}

.premium-card ul{

text-align:left;

}

#buyPremiumBtn{

padding:12px;

width:100%;

background:#6c63ff;

color:white;

border:none;

cursor:pointer;

border-radius:8px;

font-size:18px;

}

#buyPremiumBtn:hover{

background:#4b44d4;

}


.premium-success-card{
    width:350px;
    margin:auto;
    background:#fff;
    border-radius:18px;
    padding:30px;
    box-shadow:0 15px 35px rgba(0,0,0,.12);
    text-align:center;
    border:2px solid #FFD700;
}

.premium-badge{
    width:90px;
    height:90px;
    margin:auto;
    border-radius:50%;
    background:#FFD700;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:45px;
}

.premium-success-card h2{
    margin-top:20px;
    color:#222;
}

.premium-success-card p{
    color:#666;
}

.premium-status{
    margin:20px 0;
    font-weight:bold;
    color:#0d6efd;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
}

.status-dot{
    width:10px;
    height:10px;
    background:green;
    border-radius:50%;
}

.premium-features{
    display:flex;
    flex-direction:column;
    gap:18px;
    margin-top:20px;
}

.feature{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:12px;
    padding:12px;
    border-radius:10px;
    background:#f7f7f7;
    transition:.3s;
}

.feature:hover{
    background:#e8f2ff;
    transform:translateX(5px);
}