@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{

    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#F7F3EB;
}

.chat-container{

    width:420px;
    height:720px;

    background:white;

    border-radius:20px;

    overflow:hidden;

    display:flex;
    flex-direction:column;

    box-shadow:0 20px 45px rgba(0,0,0,.12);

}

.chat-header{

    background:#436850;

    color:white;

    padding:18px 22px;

}

.profile{

    display:flex;
    align-items:center;
    gap:15px;

}

.avatar{

    width:55px;
    height:55px;

    border-radius:50%;

    background:#F6E7C0;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:26px;

}

.details h3{

    font-size:18px;

}

.details span{

    font-size:13px;
    color:#d9ecd9;

}

.chat-body{

    flex:1;

    overflow-y:auto;

    padding:25px 18px;

    display:flex;
    flex-direction:column;

    gap:15px;

    background:#fdfcf8;

}

.message{
    display:flex;
    margin:15px;
}
.message.sent{
     justify-content:flex-end;
}

.message.received{
  
     justify-content:flex-start;
}

.message .bubble{
    max-width:75%;
    padding:12px 15px;
    border-radius:18px;
    line-height:1.5;
    font-size:15px;
}

.message.sent .bubble{
    background:#6D9773;
    color:white;
    border-bottom-left-radius:6px;
}

.message.received .bubble{
    background:#3B82F6;
    color:white;
    border-bottom-right-radius:6px;
}

.bubble{

    max-width:75%;

    padding:12px 15px;

    border-radius:18px;

    position:relative;

    line-height:1.5;

    font-size:15px;

}




.bubble span{

    display:block;

    text-align:right;

    margin-top:8px;

    font-size:11px;

    opacity:.7;

}

.chat-input{

    display:flex;

    padding:18px;

    gap:12px;

    background:white;

    border-top:1px solid #ddd;

}

.chat-input input{

    flex:1;

    padding:14px 18px;

    border-radius:40px;

    border:1px solid #ccc;

    outline:none;

    font-size:15px;

}

.chat-input input:focus{

    border-color:#6D9773;

}

.chat-input button{

    width:55px;

    border:none;

    border-radius:50%;

    background:#436850;

    color:white;

    cursor:pointer;

    font-size:22px;

    transition:.3s;

}

.chat-input button:hover{

    background:#355640;
    transform:scale(1.05);

}

.chat-body::-webkit-scrollbar{

    width:6px;

}

.chat-body::-webkit-scrollbar-thumb{

    background:#c7c7c7;

    border-radius:20px;

}